@model IEnumerable<TipConcediuViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Sumar Concedii</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Adauga Cerere</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZileStandard)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZileStandard)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-dark" asp-route-id="@item.Id">Modifica</a>
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Detalii</a>
                <button data-id="@item.Id" class="btn btn-danger sterge" type="button">Sterge</button>
            </td>
        </tr>
}
    </tbody>
</table>

<form id="deleteFrom" asp-action="Delete">
    <input type="hidden" id="leaveTypeId" name="Id"/>
</form>

@section Scripts{
    <script>
        $(function () {
            $('.table').DataTable();
            $('.sterge').click(function (e) {
                swal({
                    title: "Sunteti sigur?",
                    text: "Sunteti sigur ca doriti sa stergeti aceasta cerere?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#leaveTypeId').val(id);
                        $('#deleteFrom').submit();
                    }
                });
            });
        });
    </script>
}